<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0  font-weight-bold text-primary">Edit Sub Category</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Category</label>                            
                            <select class="form-control" formControlName="category"  [ngClass]="{'is-invalid': submitted && f.category.errors}">                                                               
                                <option hidden value="{{selectedcategory.id}}">{{selectedcategory.title | titlecase}}</option>
                                <option value="{{item._id}}" *ngFor="let item of category">{{item.title | titlecase}}</option>
                                <option value="" *ngIf="!category">Category not found!</option>
                            </select>
                            <div class="invalid-feedback">
                                <div>This feild is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Title</label>                            
                            <input class="form-control" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}" type="text">
                            <div class="invalid-feedback">
                                <div>This feild is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Description</label>                            
                            <textarea class="form-control" formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}" rows="5"></textarea>
                            <div class="invalid-feedback">
                                <div>This feild is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 d-flex align-items-center">

                        <div class="form-group flex-grow-1">
                            <label for="">Image</label>
                            <input type="file" formControlName="image" (change)="uploadImage($event, 'image')" class="form-control">                                                           
                        </div>
                        <div class="form-check m-4" *ngIf="image">
                            <input type="checkbox" class="form-check-input" formControlName="del_image" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Delete Image</label>
                          </div>
                    </div>
                    <div class="form-group text-right mt-5 col-12">
                        <button class="btn btn-primary px-4"> <i class="fa fa-paper-plane"></i> <i *ngIf="loaderActive" class=" ml-2 fas fa-sync fa-spin"></i> Submit</button>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>