<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0  font-weight-bold text-primary">Add Category</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Category</label>                            
                            <input class="form-control" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}" type="text">
                            <div class="invalid-feedback">
                                <div>This feild is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Image</label>
                            <input type="file" formControlName="image" (change)="uploadImage($event)" [ngClass]="{'is-invalid': submitted && f.image.errors}" class="form-control">  
                            <div class="invalid-feedback">
                                <div>This feild is required</div>
                            </div>                          
                        </div>
                    </div>

                    <div class="form-group text-right mt-5 col-12">
                        <button class="btn btn-primary px-4"> <i class="fa fa-paper-plane"></i> <i *ngIf="loaderActive" class=" ml-2 fas fa-sync fa-spin"></i> Submit</button>
                        
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>