<section style="background-color: #172902;">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center align-items-center" style="height: 100vh;">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="py-5 px-4 my-5">
                                    <div class="text-center">
                                        <figure style="margin: auto;margin-bottom: 10px;"><img src="assets/img/Final_logo_100px.png" class="img-fluid" alt=""></figure>
                                        <h1 class="h5 text-gray-900 mb-3 text-left mt-4">Please Enter your Email Address!</h1>
                                    </div>
                                    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit(resetPassword.value)">
                                        <div class="form-group">
                                            <input type="email" class="form-control" formControlName="email" placeholder="Enter Email Address..." [ngClass]="{'is-invalid': submitted && f.email.errors}">
                                            <div class="invalid-feedback" *ngIf="submitted && f.email.errors;">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                                <div *ngIf="f.email.errors.email">Enter Valid Email Address</div>
                                            </div>
                                        </div>                                                                        
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>                                      
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" routerLink="/registration" >Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small"  routerLink="">Already have an account? Login!</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>