<div class="container-fluid">                  
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0  font-weight-bold text-primary">Change Password</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="changePassword" (ngSubmit)="onSubmit(changePassword.value)">
                <!-- Form Group (current password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="currentPassword">Current Password</label>
                    <input class="form-control" formControlName="current" type="password" placeholder="Enter current password" [ngClass]="{'is-invalid': submitted && f.current.errors}">
                    <div class="invalid-feedback">
                        <div>Current password is required</div>
                    </div>
                </div>
                <!-- Form Group (new password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="newPassword">New Password</label>
                    <input class="form-control" formControlName="password" (keyup)="passwordMatch()" type="password" placeholder="Enter new password"[ngClass]="{'is-invalid': submitted && f.password.errors}">
                    <div class="invalid-feedback">
                        <div>New password is required</div>
                    </div>
                </div>
                <!-- Form Group (confirm password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" (keyup)="passwordMatch()" formControlName="cpassword"  placeholder="Confirm Password" [ngClass]="{'is-invalid': submitted && f.cpassword.errors }">
                    <div class="invalid-feedback"  [ngClass]="{'is-invalid': submitted && f.cpassword.errors}">
                        <div > Confirm Password is required</div>
                    </div>
                    <div class="invalid-feedback  d-block" *ngIf=" notMatched && !f.cpassword.errors">
                        <div> Confirm Password is not Match</div>
                    </div>    
                </div>                                                                           
                <div class="form-group text-right mt-5">
                    <button class="btn btn-primary px-4" [disabled]="loaderActive">  Submit <i *ngIf="loaderActive"   class=" ml-2 fas fa-sync fa-spin"></i></button>                                    
                </div>
            </form>
          
        </div>
    </div>

</div>